# Dependencies
node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/package
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Other
/.github
/.vscode
.npmrc